@import 'nib'

@import './stack_list'

global-reset()

*
  box-sizing border-box

body
  background-color gold

#headline
  _spacing = 0.5em

  background-color orange
  color #FFFFFF
  font 700 2em Helvetica, Arial, sans-serif
  margin-bottom _spacing
  padding _spacing

  & em
    color #000000

