#stack-list
  list-style none inside
  padding-left 1em

  & li
    color #7D5A08
    font italic 500 1.25em Helvetica, Arial, sans-serif

    &::before
      color #000000
      content '\00D7'
      margin-right 0.25em

  & li + li
    margin-top 1em

